@use "../../styles/partials/responsive" as *;

.maincontent {
  flex-grow: 1;
  padding-left: 1.5rem;
  width: 100%;

  @include media-desktop {
    padding: 0rem;
  }
}

.graph-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__container {
    width: 100vw;
    height: 100vh;
  }
}
